esptool.exe
.pio/
.pio-out/
sdkconfig
sdkconfig.old
sdkconfig.defaults
dependencies.lock
managed_components/
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db
firmware/include/web_embed.h
firmware/include/splash_embed.h
